main {
    padding: 2.25rem;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 2rem;
}

.form>div {
    text-align: left;
}

.form__btn {
    grid-column: 1 / -1;
}

.form__input {
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    font-family: inherit;
    font-size: inherit;
    text-indent: 5px;
    height: 35px;
    width: 98%;
}

.form__btn {
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background: linear-gradient(to right, #672280, #A626D3);
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.meme__image {
    margin-top: 1rem;
    max-width: 100%;
}